<h1  class="main"style="margin-top: 0.5cm; margin-left: 4cm;">Instituto Programa Tu Futuro</h1>
<div>
<mat-toolbar class="imagen" color="primary"> 
  <span class="example-spacer"></span>
    <a class="letra2" mat-button style="margin-left: 70em; text-align: center;" routerLink="home">
      Inicio
    </a>
    <a class="letra2" mat-button style="margin-left: 2em; text-align: center;" routerLink="formulario">
      Registro
    </a>
    <a class="letra2" mat-button  style="margin-left: 2em; text-align: center;" routerLink="tabla">
      Usuarios
    </a>
    <a class="letra2" mat-button  style="margin-left: 2em; text-align: center;" routerLink="editar">
      Editar Usuarios
    </a>
    <a class="letra2" mat-button  style="margin-left: 2em; text-align: center;" routerLink="validar">
      Validar Usuario
    </a>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>