<br />
<div>
<ngb-carousel style="align-content: center;"  *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img style="width: 100%" [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>Aprende a Programar!</h3>
      <p>Programa tu Futuro te entrega todas las herramientas para desenvolverte en la tecnologia</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img style="width: 100%" [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Postulacion a becas</h3>
      <p> Debes registrarte para poder ser contactado</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img style="width: 100%" [src]="images[2]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Cursos de solo 3 meses!</h3>
      <p>Cursos de programacion full-stack con certificacion para poder trabajar</p>
    </div>
    </ng-template>
    </ngb-carousel>
    </div>
    <br />
    <hr />
    <br />
  
<div style="width: 80%; margin-left: 3.5cm;" class="row">
  <div class="col-md-4 mb-4 d-flex align-items-stretch">
    <div class="card">
      <div class="view">
        <img src="https://portales.inacap.cl/Assets/sedes/puerto-montt/sede-puerto-montt.jpg" class="card-img-top"
          alt="">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Nuestra sede</h4>
        <!--Text-->
        <p class="card-text">La sede del Instituto PTF, esta ubicada en la region de Santiago y fue inaugurada en 2010.
          Posee ambientes muy tranquilos y aptos para el estudio. Cuenta con instalaciones como Bibilioteca, Oficinas, Salas de reuniones, auditorios
          y Docentes dispuestos a entregar un buen aprendizaje.
          De esta manera, se refleja el compromiso por establecer un espacio que acoja a los futuros programadores y posibilite una exitoso camino en su desarrollo profesional.
        </p>
      </div>

    </div>
    <!--/.Card-->

  </div>
  <!-- Column -->

  <!-- Column -->
  <div  class="col-md-4 mb-4 d-flex align-items-stretch">
  <div class="card">
    <div class="view">
      <img src="https://lh3.googleusercontent.com/proxy/hStOg2rUmHZSxDB139B9Qf7gf_-sfVeJcgKC3aGhzltJwPZU2IRkF_yLm5IrKZFCWRkUs4QpI6u3EffGFHiBfsoawuf_5zZC7UbWIS3FUMuPwkw2VMB7aJzuiWYA4UQb5hH6FGTAcrh3gFT-55CLE01dnAaNHvI" class="card-img-top"
        alt="">
      <a href="#">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title">Talleres Extracurriculares</h4>
      <!--Text-->
      <p class="card-text">Las Actividades Extracurriculares canalizan inquietudes culturales, artísticas 
        o sociales de grupos de estudiantes, y otros más recreativos de uso del tiempo libre los que se reúnen en 
        torno a aptitudes o intereses comunes que fortalecen su formación como persona y como profesionales.
        Algunos de los talleres que se dictan son:
        <li>TALLER DE CIRCO</li>
        <li>AERO-ATACK</li>
        <li>ZUMBA </li>
        <li>TALLER DE YOGA</li>
        <li>FUTBOL FEMENINO Y MASCULINO</li>
        y muchos otros deportes!
      </p>
    </div>
  </div>
</div>
  <!-- Column -->

  <!-- Column -->
  <div class="col-md-4 mb-4 d-flex align-items-stretch">

    <!--Card-->
    <div class="card">

      <!--Card image-->
      <div class="view">
        <img src="https://cronicasfreelancer.com/wp-content/uploads/2019/08/seniority-programadores.jpg" class="card-img-top"
          alt="">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Cursos</h4>
        <!--Text-->
        <p class="card-text">Tenemos una gran variedad de cursos orientados a la informatica, los cuales tienen horarios flexibles que te 
          permitiran trabajar y estudiar. La duracion de los curso es de aproximadamente 3 meses, en donde se enseña programacion en lenguaje 
          Java o Phyton. Despues de realizar el curso te acompañamos a lo largo de un año para que consigas un trabajo en la programacion, 
        </p>
      </div>

    </div>
    <!--/.Card-->

  </div>
  <!-- Column -->

</div>
<!-- Container -->